<div class="card m-5">
  <div class="card-body">
    <%= form_with model: @forced_exchange_rate, url: "/admin", method: :post do |form| %>
      <div class="mb-3">
        <%= form.label :rate, "Курс доллара:", class: "form-label" %>
        <%= form.number_field :rate, step: 0.01, class: "form-control form-control-md" %>
      </div>
      <div class="mb-3">
        <%= form.label :expiration_datetime, "Время окончания действия", class: "form-label" %>
        <%= form.text_field :expiration_datetime,
                            id: 'datepicker',
                            value: normalize_rate(@forced_exchange_rate.expiration_datetime),
                            date: { format: :default }, class: "form-control" %>

      </div>
      <div class="mt-3 mb-3">
        <%= form.submit "Сохранить", class: "btn btn-primary btn-sm" %>
      </div>
    <% end %>
    <%= link_to "На главную", root_path %>
  </div>
</div>

<%= javascript_pack_tag 'forced_exchange_rates/new', 'data-turbolinks-track': 'reload' %>
