<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card border-0 shadow-lg">
        <div class="card-body text-center">
          <h3 class="mb-4">Установить курс</h3>
            <%= form_with model: @forced_exchange_rate, url: "/admin", method: :post do |form| %>
              <div class="mb-3">
                <%= form.label :rate, "Курс доллара:", class: "form-label" %>
                <%= form.number_field :rate, step: 0.01, class: "form-control text-center mx-auto" %>
              </div>
              <div class="mb-3">
                <%= form.label :expiration_datetime, "Время окончания действия", class: "form-label" %>
                <%= form.text_field :expiration_datetime,
                                    id: 'datepicker',
                                    value: normalize_rate(@forced_exchange_rate.expiration_datetime),
                                    date: { format: :default },
                                    class: "form-control text-center mx-auto",
                                    autocomplete: "off" %>
              </div>
              <div class="mt-4 mb-2">
                <%= form.submit "Сохранить", class: "btn btn-sm btn-outline-primary" %>
              </div>
            <% end %>

            <%= link_to "- На главную -", root_path, class: "link-no-underline link-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'forced_exchange_rates/new', 'data-turbolinks-track': 'reload' %>
